<h2>Eventos</h2>
<hr>
<div class="row row-cols-lg-auto g-3 align-items-center mb-2">
  <div class="col-12">
    <input type="text"
           class="form-control mr-2"
           placeholder="Buscar"
           [(ngModel)]="filtroLista">
  </div>
    <button class="btn btn-danger">Buscar</button>
</div>
<!--<h3>Filtro: {{filtroLista}}</h3>><!-->
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>#</th>
      <th>
        Imagem
          <button type="button" class="btn btn-outline-light btn-sm" data-bs-toggle="collapse" data-bs-toggle="#col"
          (click)="alterarImagem()">
            {{!exibirImagem ? '🡲' : '🡳'}}
          </button>
      </th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Vendas</th>
      <th>
        <div class="text-center">Opções</div>
      </th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>{{evento.eventosId}}</td>
      <td>
        <img [collapse]="!exibirImagem"
            [isAnimated]="true"
            src="/assets/{{evento.imagemURL}}"
            [style.width.px]="larguraImagem"
            [style.margin.px]="margemImagem">
      </td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.vendas}}</td>
      <td>
        <div class="text-center">
          <button type="button" class="btn btn-dark btn-sm">...</button>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4><b>Nenhum evento encontrado!</b></h4>
      </td>
    </tr>
  </tfoot>
</table>

<!--{{eventos | json}}!-->
